/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    min-height:100vh;
    padding:30px;
    line-height:1.6;
}

/* TÍTULOS */
h1{
    text-align:center;
    margin-bottom:20px;
    color:#38bdf8;
    text-shadow:2px 2px 10px rgba(0,0,0,.5);
}

h2{
    color:#7dd3fc;
    margin-top:20px;
}

/* PARÁGRAFOS */
p{
    margin:10px 0;
}

/* LISTAS */
ul{
    margin-left:25px;
}

li{
    margin:8px 0;
}

/* MENU */
nav a{
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:12px 20px;
    border-radius:10px;
    display:inline-block;
    transition:0.3s;
}

nav a:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}

/* BOTÕES */
button{
    background:#0ea5e9;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#0284c7;
}

/* IMAGENS */
img{
    margin-top:15px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.4);
    max-width:100%;
}

/* TABELAS */
table{
    width:100%;
    max-width:600px;
    border-collapse:collapse;
    margin-top:15px;
}

table td{
    border:1px solid white;
    padding:12px;
}

table tr:hover{
    background:rgba(255,255,255,.1);
}

/* ANIMAÇÃO */
header{
    animation:fadeIn 1s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(-20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}